.app {
  text-align: center;
}

.app-header {
  background-color: #ffb969;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 3vmin);
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.main-text {
  margin-top: 10px;
  font-size: calc(10px + 1vmin);
}

.graph {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(10px + 1vmin);
}

.footer-block {
  border-top: 5px solid #EAC55B;
}

.footer-block > * {
  margin-top: 10px;
}

.footer-font {
  color: #504a4a;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
